/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Change the white to any color ;) */
/* line 14, ../sass/screen.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* line 17, ../sass/screen.scss */
input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* line 22, ../sass/screen.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 25, ../sass/screen.scss */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
/* line 12, ../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 30, ../sass/screen.scss */
body {
  background: whitesmoke;
  min-width: 320px;
  margin-bottom: 50px;
}

/* line 38, ../sass/screen.scss */
header * {
  font-family: 'Roboto';
}
/* line 41, ../sass/screen.scss */
header nav {
  height: 75px;
  line-height: 75px;
}
/* line 45, ../sass/screen.scss */
header .blue-grey {
  background: #37474f !important;
}

/* line 49, ../sass/screen.scss */
button {
  background: transparent;
  border: none;
}

/* 
==============================
   Login
==============================
*/
/* line 62, ../sass/screen.scss */
.login-view h2 {
  padding-bottom: 30px;
}
/* line 65, ../sass/screen.scss */
.login-view .login-wrap {
  padding-bottom: 20px;
}
/* line 69, ../sass/screen.scss */
.login-view #button-div {
  margin: 20px auto;
}
/* line 73, ../sass/screen.scss */
.login-view #button-wrap {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  overflow: hidden;
  *zoom: 1;
  max-width: 400px;
  float: none !important;
  margin: 20px auto;
}
/* line 80, ../sass/screen.scss */
.login-view #button-wrap a {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  display: inline-block;
}
/* line 86, ../sass/screen.scss */
.login-view #new-user, .login-view #login {
  display: none !important;
}
/* line 91, ../sass/screen.scss */
.login-view .register {
  background: transparent !important;
}
/* line 95, ../sass/screen.scss */
.login-view #form {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  max-width: 400px;
  clear: left;
}
/* line 101, ../sass/screen.scss */
.login-view #form-wrap {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  max-width: 400px;
  margin: 20px auto;
  float: none;
  text-align: center;
}
/* line 108, ../sass/screen.scss */
.login-view #form-wrap h2 {
  color: white;
  padding-top: 20px;
  font-size: 1.25rem;
  border-bottom: 1px solid #26a69a;
  background: #78909c;
}
/* line 117, ../sass/screen.scss */
.login-view form {
  padding: 30px 10%;
}
/* line 121, ../sass/screen.scss */
.login-view #hide-modal {
  display: none;
}
/* line 125, ../sass/screen.scss */
.login-view #username, .login-view #password {
  text-align: center;
}
/* line 128, ../sass/screen.scss */
.login-view .ion-close-round {
  color: #009688;
}
/* line 132, ../sass/screen.scss */
.login-view #modal1 {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* line 136, ../sass/screen.scss */
.login-view #modal1 p {
  padding-bottom: 10px;
}
/* line 139, ../sass/screen.scss */
.login-view #modal1 .strong {
  font-weight: bold;
}

/* 
==============================
   Task Main Window
==============================
*/
/*----------  
  Create task section
----------*/
/* line 155, ../sass/screen.scss */
.taskWindowView {
  /*----------  
    Open/Closed Task Section
  ----------*/
}
/* line 157, ../sass/screen.scss */
.taskWindowView textarea, .taskWindowView input {
  padding-bottom: 0 !important;
}
/* line 161, ../sass/screen.scss */
.taskWindowView .collapsible {
  background: white;
}
/* line 165, ../sass/screen.scss */
.taskWindowView #upload-task {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  overflow: hidden;
  *zoom: 1;
  height: auto;
  max-width: 600px !important;
  margin: 0 auto;
  float: none !important;
}
/* line 174, ../sass/screen.scss */
.taskWindowView #task-title-wrap {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 178, ../sass/screen.scss */
.taskWindowView #description {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding-left: 50px;
}
/* line 183, ../sass/screen.scss */
.taskWindowView #date-wrap {
  width: 73.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 187, ../sass/screen.scss */
.taskWindowView #star-wrap {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}
/* line 191, ../sass/screen.scss */
.taskWindowView #star-wrap button {
  border: none;
  background: transparent !important;
}
/* line 195, ../sass/screen.scss */
.taskWindowView #star-wrap i {
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.3);
}
/* line 199, ../sass/screen.scss */
.taskWindowView #star-wrap .star-true {
  color: #1de9b6;
}
/* line 204, ../sass/screen.scss */
.taskWindowView #button-wrap {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
  padding-top: 25px;
}
/* line 214, ../sass/screen.scss */
.taskWindowView #open-task-div, .taskWindowView #closed-task-div {
  max-width: 800px;
  margin: 20px auto 50px auto;
  clear: left;
}
/* line 220, ../sass/screen.scss */
.taskWindowView #closed-task-div {
  display: none;
}
/* line 224, ../sass/screen.scss */
.taskWindowView #open-task-header, .taskWindowView #closed-task-header {
  display: block;
  max-width: 800px;
  margin: 50px auto 20px auto;
}
/* line 230, ../sass/screen.scss */
.taskWindowView #closed-task-header {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #78909c !important;
  color: white;
  padding: 20px;
  text-align: center;
}
/* line 238, ../sass/screen.scss */
.taskWindowView #closed-task-header:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 242, ../sass/screen.scss */
.taskWindowView #button-header {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  display: block;
  margin: 150px auto 20px auto;
  cursor: pointer;
  float: none;
}
/* line 250, ../sass/screen.scss */
.taskWindowView #closed-number {
  padding-left: 30px;
}

/* 
==============================
   Individual Task 
==============================
*/
/* line 264, ../sass/screen.scss */
.taskView li {
  border: none !important;
}
/* line 267, ../sass/screen.scss */
.taskView ul {
  overflow: hidden;
  *zoom: 1;
  font-size: .9rem;
}
/* line 271, ../sass/screen.scss */
.taskView #task-body-div {
  display: none;
  overflow-wrap: break-word !important;
}
/* line 275, ../sass/screen.scss */
.taskView .clearfix {
  clear: both;
  width: 100%;
}
/* line 279, ../sass/screen.scss */
.taskView #task-complete {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  display: inline-block;
  font-size: 2.25rem;
  color: #1de9b6;
  cursor: pointer;
  text-align: left;
}
/* line 288, ../sass/screen.scss */
.taskView .title-wrap {
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  min-width: 65%;
  line-height: 1.5rem !important;
  height: auto;
  min-height: 50px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  overflow-wrap: break-word;
}
/* line 299, ../sass/screen.scss */
.taskView .date-div {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 302, ../sass/screen.scss */
.taskView .date {
  display: inline;
  float: left;
  color: #00695c;
}
/* line 307, ../sass/screen.scss */
.taskView .until-due {
  display: inline;
  float: right;
  color: #00695c;
}
/* line 313, ../sass/screen.scss */
.taskView #extend-wrap {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
  cursor: pointer;
  background: rgba(224, 242, 241, 0.32);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  color: #5A5858;
}
/* line 323, ../sass/screen.scss */
.taskView #extend-wrap #extend {
  font-size: 2rem;
  color: #5A5858;
}
/* line 328, ../sass/screen.scss */
.taskView #task-body-div {
  padding: 20px 30px;
}
/* line 331, ../sass/screen.scss */
.taskView #task-header-div {
  overflow: hidden;
  *zoom: 1;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 20px;
}
/* line 336, ../sass/screen.scss */
.taskView .collapsible-header {
  padding: 15px 10px !important;
}
/* line 340, ../sass/screen.scss */
.taskView #star-wrap-task {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: right;
}
/* line 344, ../sass/screen.scss */
.taskView #star-wrap-task i {
  display: inline-block;
  float: right;
  font-size: 2.25rem !important;
  color: #1de9b6;
}
/* line 351, ../sass/screen.scss */
.taskView #star-wrap-task .star-true {
  color: #1de9b6;
}
/* line 357, ../sass/screen.scss */
.taskView #purge {
  clear: both;
  display: block;
  background: #ffccbc;
  padding: 7px;
  text-align: center;
  color: black;
  cursor: pointer;
}
