/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "grids";
@import "compass/css3";
@import "compass/reset";
@include global-reset; 
@import "compass/layout";
@import "compass/utilities/general";

@include sticky-footer(150px);


.container {
  @include container; 
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 320px; 
}

header {
  * {
    font-family: 'Roboto';
  }
  nav {
    height: 75px; 
    line-height: 75px; 
  }
}
a {
  cursor: hand; 
}







/* 
==============================
   Login
==============================
*/

.login-view {

  h2 {
    padding-bottom: 30px; 
  }
  .login-wrap {
    padding-bottom: 20px; 
  }

  #button-div {
    margin: 20px auto; 
  }

  #button-wrap {
    @include span(12); 
    @include clearfix; 
    max-width: 400px; 
    float: none !important;
    margin: 20px auto; 

    a {
      @include span(6); 
      display: inline-block; 
    }
  }

  .register {
    background: transparent !important;
  }

  #form {
    @include span(12); 
    max-width: 400px; 
    clear: left; 
  }

  #form-wrap {
    @include span(12);
    max-width: 400px; 
    margin: 20px auto;  
    float: none; 
    text-align: center;
    padding: 30px (gutter() * 6) ;
  }

  .inner-form-wrap {
    
  }



}

/* 
==============================
   Task Main Window
==============================
*/

/*----------  
  Create task section
----------*/

.taskWindowView {
  
  textarea, input {
    padding-bottom: 0 !important;
  }

  #upload-task {
    @include span(12); 
    max-width: 600px !important; 
    margin: 0 auto; 
    float: none !important; 
  }

  #task-title-wrap {
    @include span(12);  
  }

  #description {
    @include span(12); 
    padding-left: 50px; 
  }

  #date-wrap {
    @include span(10);
  }

  #star-wrap{
    @include span(2); 
    text-align: center; 

    button {
      border: none; 
      background: transparent !important;
    }
    i {
      font-size: 3.5rem; 
      color: rgba(0, 0, 0, 0.3); 
    }
    .star-true {
      color: #1de9b6; 
    }
  }

  #button-wrap {
    @include span(12); 
    text-align: center;
    padding-top: 25px;  
  }


/*----------  
  Open/Closed Task Section
----------*/
  #open-task-div, #closed-task-div {
    @include span(12); 
    clear: left; 
  }

  #open-task-div {
    margin-top: 150px; 
  }

}


/* 
==============================
   Individual Task 
==============================
*/

.taskView {

  #task-complete {
    cursor: hand;
    cursor: pointer; 
    text-align: right; 
  }


}













