/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "grids";
@import "compass/css3";
@import "compass/reset";
@include global-reset; 
@import "compass/layout";
@import "compass/utilities/general";


/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
}


* {
  font-family: 'Roboto', sans-serif;
}
.container {
  @include container; 
  padding-left: 2.5%;
  padding-right: 2.5%;  
}
body {
  background: whitesmoke; 
  min-width: 320px; 
  margin-bottom: 50px; 
}


header {
  * {
    font-family: 'Roboto';
  }
  nav {
    height: 75px; 
    line-height: 75px; 
  }
  .blue-grey {
    background: #37474f !important; 
  }
}
button {
  background: transparent;
  border: none; 
}

/* 
==============================
   Login
==============================
*/

.login-view {

  h2 {
    padding-bottom: 30px; 
  }
  .login-wrap {
    padding-bottom: 20px; 
  }

  #button-div {
    margin: 20px auto; 
  }

  #button-wrap {
    @include span(12); 
    @include clearfix; 
    max-width: 400px; 
    float: none !important;
    margin: 20px auto; 

    a {
      @include span(6); 
      display: inline-block; 
    }
  }

  #new-user, #login {
    display: none !important; 

  }

  .register {
    background: transparent !important;
  }

  #form {
    @include span(12); 
    max-width: 400px; 
    clear: left; 
  }

  #form-wrap {
    @include span(12);
    max-width: 400px; 
    margin: 20px auto;  
    float: none; 
    text-align: center;

    h2 {
      color: white;
      padding-top: 20px;
      font-size: 1.25rem;
      border-bottom: 1px solid #26a69a;
      background: #78909c; 
    }

  }
  form {   
    padding: 30px 10%; 
  }

  #hide-modal {
    display: none; 
  }

  #username, #password {
    text-align: center; 
  }
  .ion-close-round {
    color: #009688; 
  }

  #modal1 {
    font-size: 1rem;
    line-height: 1.5rem; 

    p {
      padding-bottom: 10px; 
    }
    .strong {
      font-weight: bold; 
    }
    
  }

}

/* 
==============================
   Task Main Window
==============================
*/
/*----------  
  Create task section
----------*/
.taskWindowView {
 
  textarea, input {
    padding-bottom: 0 !important;
  }

  .collapsible {
    background: white; 
  }

  #upload-task {
    @include span(12); 
    @include clearfix; 
    height: auto; 
    max-width: 600px !important; 
    margin: 0 auto; 
    float: none !important; 
  }

  #task-title-wrap {
    @include span(12);  
  }

  #description {
    @include span(12); 
    padding-left: 50px; 
  }

  #date-wrap {
    @include span(9);
  }

  #star-wrap{
    @include span(3); 
    text-align: center; 

    button {
      border: none; 
      background: transparent !important;
    }
    i {
      font-size: 3.5rem; 
      color: rgba(0, 0, 0, 0.3); 
    }
    .star-true {
      color: #1de9b6; 
    }
  }

  #button-wrap {
    @include span(12); 
    text-align: center;
    padding-top: 25px;  
  }


/*----------  
  Open/Closed Task Section
----------*/
  #open-task-div, #closed-task-div {
    max-width: 800px; 
    margin: 20px auto 50px auto;     
    clear: left; 
  }

  #closed-task-div {    
    display: none; 
  }

  #open-task-header, #closed-task-header {
    display: block; 
    max-width: 800px; 
    margin: 50px auto 20px auto; 
  }

  #closed-task-header {
    @include transition(all 1s);
    background: #78909c !important; 
    color: white; 
    padding: 20px; 
    text-align: center; 
  }

  #closed-task-header:hover {
    @include opacity(.7); 
  }

  #button-header {
    @include span(12);
    display: block;
    margin: 150px auto 20px auto;
    cursor: pointer;  
    float: none; 
  }

  #closed-number {
    padding-left: 30px; 
  } 

}


/* 
==============================
   Individual Task 
==============================
*/
.taskView {

  li {
    border: none !important; 
  }
  ul {
    @include clearfix(); 
    font-size: .9rem; 
  }
  #task-body-div {
    display: none;
    overflow-wrap: break-word !important; 
  }
  .clearfix {
    clear: both;
    width: 100%;
  }
  #task-complete {
    @include span(2); 
    display: inline-block; 
    font-size: 2.25rem;
    color: #1de9b6;
    cursor: pointer; 
    text-align: left;       
  }

  .title-wrap {
    @include span(8); 
    min-width: span(8); 
    line-height: 1.5rem !important;
    height: auto; 
    min-height: 50px; 
    padding-left: 10px !important; 
    padding-right: 10px !important; 
    overflow-wrap: break-word; 
  }

  .date-div {
    @include span(12); 
  }
  .date {
    display: inline;
    float: left;
    color: #00695c; 
  }
  .until-due {
    display: inline; 
    float: right; 
    color: #00695c;
  }

  #extend-wrap {
    @include span(100%);
    text-align: center; 
    cursor: pointer; 
    background: rgba(224, 242, 241, 0.32);
    padding-top: 5px;
    padding-bottom: 5px; 
    margin: 0; 
    color: #5A5858; 

    #extend {
      font-size: 2rem; 
      color: #5A5858;    
    }
  }
  #task-body-div {
    padding: 20px 30px; 
  }
  #task-header-div {
    @include clearfix(); 
    @include span(12); 
    margin-bottom: 20px; 
  }
  .collapsible-header {
    padding: 15px 10px !important;
  }

  #star-wrap-task {
    @include span(2); 
    text-align: right; 

    i {
      display: inline-block; 
      float: right; 
      font-size: 2.25rem !important;  
      color: #1de9b6;
    }

    .star-true {
      color: #1de9b6; 
    }

  }

  #purge {
    clear: both;
    display: block;
    background: #ffccbc;
    padding: 7px;
    text-align: center;
    color: black;    
    cursor: pointer; 
  }

}
